body {
	margin: 0 auto;
	padding: 0;
	background: #CECECE url(images/img1.gif);
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	color: #730000;
}

h2 {
	font-size: 1.6em;
	line-height: 40px;
}

h3 {
	margin: 0;
	font-size: 1em;
}

p, ul, ol, blockquote {
	margin-top: 0;
}
.tabel td{
	padding: 10px;
}
a:link {
	color: #730000;
}

a:hover {
	text-decoration: none;
}
a{
	color: #296788
}
img {
	border: none;
}

/* Header */

#header {
	width: 850px;
	height: 200px;
	margin: 0 auto;
	background: url(images/img2.jpeg);
	background-size: 100% auto;
}

#header * {
	margin: 0;
	text-decoration: inherit;
	text-transform:uppercase;
	position:relative;
	font-weight: normal;
	color: #FFFFFF;
	text-align:left;
	
}

#header h1 {
	float: left;
	padding: 20px 0 0 330px;
	font-size: 3em;
}

#header h2 {
	float: left;
	padding: 20px 0 0 0;
	font-size: 1em;
}

/* Menu */

#menu {
	width: 850px;
	height: 41px;
	margin: 0 auto;
	background: #2E2E2E url(images/img3.gif)
	
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
	float:left; 
	position:relative; 
}

#menu a {
	display: block;
	float: left;
	height: 32px;
    width:8em;
	padding: 9px 20px 0 20px;
	text-decoration: none;
	color: #000000;
}

#menu a:hover, #menu>ul>li.active>a {
	background: url(images/img4.gif);
	color: #000000;
    width:8em;
	
}

#menu li ul {
	background: url(images/img3.gif);
    display:none;
	position: absolute;
    top: 41px;
    left: 10px;
    width:8em;
	z-index: 10;
}
#menu li:hover ul{
    display:block;
	height:auto; 
	width:145px;
}
#menu li ul li{
    clear:both;
	border-style:none;}

#menu>ul>li>ul>li.active>a {
    background: url(images/img4.gif);
	color: #000000;
	width:8em;}


/* Content */

#content {
	width: 850px;
	margin: 0 auto;
	background: url(images/img8.png);
	background-size: 100% auto;
	overflow: hidden;
}

#colOne {
	float: left;
	width: 240px;
	padding: 20px 10px 0 10px;
}

#colTwo {
	float: left;
	width: 360px;
	height: 800px;
	padding: 20px 10px 0 10px;
}

#colThree {
	float: left;
	width: 120px;
	padding: 10px;
}

#ColFour {
	float: left;
	width: 480px;
	padding: 20px 10px 0 10px;

	
}

/* Footer */

#footer {
	width: 850px;
	margin: 0 auto;
	padding: 10px 0;
	background: url(images/img6.gif) repeat-x;
	font-size: smaller;
	
	
}

#footer * {
	color: #000000;
}